<html>
<head>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/SPA/employees/employee.module.js"></script>
    <script src="~/SPA/employees/services/employees.service.js"></script>
    <script src="~/SPA/employees/controllers/employee.controller.js"></script>
    <script src="~/SPA/App.js"></script>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div ng-app="tsi" ng.controller="employeesCtrl">
        
    </div>
</body>

</html>
